{% extends "base.html" %}

{% block title %}{{problem.name}}{% endblock %}

{% block extra_head %}
<script type='text/javascript'>
  function hideFields() {
    $('div.field .btn').slideDown();
    $('div.field .input').hide();
  }

  function resetForm() {
    $('div.field input').val('');
    hideFields();
    // TODO: show new image
  }

  function getRand(arr) {
    return arr[_.random(0,arr.length-1)];
  }

  keystrokes = 0;
  
  $(function() {
    
    // show field
    $('div.field .btn').click(function() {
      $(this).siblings('.input').show();
      $(this).slideUp(200);
    });

    // update points
    $('div.field input').keyup(function(e) {
      if (e.keyCode == 8 /* delete key */) {
        console.log(keystrokes);
        keystrokes--;
      } else {
        keystrokes++;
        if (keystrokes > 2) {
          incrPoints(1);
          keystrokes = 0;
        }
      }
    });


    // click done
    $('#done').click(function(e) {
        // get algorithm
        if ($('.algs .btn').hasClass('active')) {
            console.log('has selected alg');
        }
        else {
            alert("You must select an algorithm!");
            return;
        }

        var alg = $('.algs .btn.active').attr('name');

        if (!alg) {
            alert('error!');
            return;
        }

        $("#thinking").fadeIn();

        var inputs = new Array();
        $('.entry-panel input').each(function() {
            var $input = $(this);
            var name = $input.attr('name');
            var val = $input.val();
            inputs[name] = val;
        });
        console.log(inputs);
        inputs = _.extend({}, inputs);
        console.log(inputs);

        // get JSON solution
        $.post('/jsolve/{{problem.url}}/'+ alg + '/', inputs, function(data) {
            $('div#main-image-div').hide();
            $('#solution').fadeIn();
            $('#solution-text').text(data);
            $("#thinking").fadeOut();
        }).error(function() {
            $("#thinking").fadeOut();
        });
    });

    // click next
    $('#next').click(function() {
      //$('#feedback').slideUp(300);
      var prog = $('#progress');
      incrProgress(prog, 8);
      incrPoints(32);
      resetForm();
    });

  });

$(function(){
    var uploader = new qq.FileUploader({
        action: "{% url "my_ajax_upload" %}",
        element: $('#file-uploader')[0],
        multiple: true,
        onComplete: function(id, fileName, responseJSON) {
            if(responseJSON.success) {
                //alert("success!");
            } else {
                //alert("upload failed!");
            }
        },
        onAllComplete: function(uploads) {
            // uploads is an array of maps
            // the maps look like this: {file: FileObject, response: JSONServerResponse}
            //alert("All complete!");
        },
        params: {
            'csrf_token': '{{ csrf_token }}',
            'csrf_name': 'csrfmiddlewaretoken',
            'csrf_xname': 'X-CSRFToken',
        },
    });
});


</script>
{% endblock extra_head %}

{% block body %}
<div class='row'>
  <div class='span7'>
      <h1>{{ problem.name }}</h1>
  </div>
</div>

<div class='row'>
  <div class='span5 entry-panel'>
      <div class='well instructions'>{{ problem.description}}</div>
    <!--<div class='span4 offset1 my-progress' id='progress' style="position:relative; top:18px;">
      <div id="progress-outer">
        <div id="progress-inner"><span id='number'>10%</span></div>
      </div>
    </div>-->

    <div class='' style='font-weight:bold;text-align:center; margin-bottom:5px;'>
        Please provide the specifics of your problem.
    </div>

    {% for input in inputs %}
        {% include "frontend/entry_field.html" with name=input.name filler=input.name id=input.order %}
    {% endfor %}

    {% for f_input in file_inputs %}
        {% include "frontend/upload_field.html" with name=f_input.name filler=f_input.name id=f_input.order %}
        <div id='file-uploader'>
        </div>
    {% endfor %}

    <div class='' style='font-weight:bold;text-align:center; margin-bottom:5px;'>
        Which algorithm would you like to use?
    </div>
    <div class='btn-group algs' data-toggle="buttons-radio">
        {% for alg in algorithms %}
            {% if problem.key == 5 and alg.key == 2 or problem.key == 2 and alg.key == 2 %}
            {% else %}
                <button class='btn' name="{{alg.url}}">{{alg.name}}</button>
            {% endif %}
        {% endfor %}
    </div>

    <div><button class='btn btn-success btn-block btn-large btn-done' role='button' id='done'>Optimize!</button></div>

  </div>
  <div class='span7'>

    <div id='main-image-div' style='text-align:center;'>
        <img class='main-image img-rounded' src='{{problem.image.url}}' />
    </div>

    <div id='solution' class='well' style='display:none'>
        <div><h3>Solution! <span id='cute-solution-phrase'></span></h3></div>
      <div>
        <span style='font-size:1.3em;' id='solution-text'></span><div style='float:right; font-size:1.4em;'>+32 points!</div>
      </div>
      <div style='margin-top:20px; text-align:center;'>
        <a href='/' class='btn btn-primary'>Try a different problem!</a>
      </div>
    </div>

  </div>

  <div id='thinking' style='display:none;'>Optimization in progress!</div>

</div>
    

{% endblock %}
