body {
    background:#eee;

    font-size:15px;
    text-align:justify;
}

.paper {
    background:#fff;
    margin-top:35px;
    margin-bottom:45px;
    padding:15px 70px;
    margin-left: 190px;
    border-radius:8px;
}

h2 {
    margin-top: 40px;
}

.paper .video {
    width:100%;
    text-align:center;
    margin:40px 0;
}

.paper div.images1 {
    max-width:100%;
    margin:40px;
    text-align:center;
}
.paper div.images1 img {

}

.paper .images2 img {
    width:45%;
    margin:0 2%;    
}

.paper div.images3 img {
    width:30%;
    margin:0 1%;
}

