{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block extra_head %}
<script type='text/javascript'>
</script>
{% endblock extra_head %}

{% block body %}
<div class='row'>
  <div class='span7'>
    <h1>Let's optimize!</h1>
  </div>
<!--  <div class='span4 offset1 my-progress' id='progress' style="position:relative; top:18px;">
    <div id="progress-outer">
      <div id="progress-inner"><span id='number'>10%</span></div>
    </div>
</div>-->
</div>

<div class='row'>
    {% for prob in problems %}
        <a href='/p/{{prob.url}}/'>
            <div class='span5 well problem'>
                {{ prob.name }}
                <div class='name'></div>
                <img src="{{ prob.image.url }}" />
            </div>
        </a>
    {% endfor %}
</div>

    

{% endblock %}
